*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f3f3f3;
}

.hero{
  height:90vh;
  background:url("https://images.unsplash.com/photo-1501785888041-af3ef285b470") center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
}

.overlay{
  background:rgba(0,0,0,0.5);
  padding:40px;
}

.overlay h1{
  font-size:36px;
  margin-bottom:20px;
}

.overlay button{
  padding:10px 25px;
  background:#f4a300;
  border:none;
  color:white;
  cursor:pointer;
}

.outdoor{
  display:flex;
  padding:80px 10%;
  background:white;
  gap:50px;
  align-items:center;
}

.out-left{
  flex:1;
}

.out-left h2{
  font-size:34px;
  color:#0b3c88;
  margin-bottom:20px;
}

.out-right{
  flex:1;
}

.out-right img{
  width:100%;
  border-radius:6px;
}

.tourism{
  padding:80px 10%;
  text-align:left;
}

.tourism h2{
  font-size:30px;
  color:#0b3c88;
  margin-bottom:40px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:30px;
}

.card{
  background:#eaeaea;
  padding:40px 20px;
  text-align:center;
  border-radius:6px;
}

.card img{
  width:70px;
  margin-bottom:15px;
}

.choose{
  padding:80px 10%;
  text-align:center;
}

.choose h2{
  font-size:30px;
  color:#0b3c88;
  margin-bottom:30px;
}

.menu-line a{
  margin:0 20px;
  text-decoration:none;
  color:#0b3c88;
  font-weight:bold;
}
