
body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.main{
    width: 70vw;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}
.top{
    width: 70vw;
    margin: auto;
    
}
.top h1{
    border-bottom: 2px solid rgb(12, 192, 241);
}
.card{
    width: 70vw;
    text-align: start;
}
.card h2{
    color: rgba(219, 58, 58, 0.827);
}